<!-- 
<div class="container">
  <h2 class="title">Device Allowed</h2>

  <div class="circle-chart" [style.--percent]="clampPercent1">
    <div class="center-label">{{ percentage1 }}%</div>
  </div>

  <div class="device-info-labels">
    <div>🟢 INSTALLED: {{ reserved }}</div>
    <div>🔴 Not INSTALLED: {{ installed - reserved }}</div>
  </div>
</div>

<div class="container">
  <h2 class="title">Device Connectivity</h2>

  <div class="circle-chart" [style.--percent]="clampPercent2">
    <div class="center-label">{{ percentage2 }}%</div>
  </div>

  <div class="device-info-labels">
    <div>🟢 Connected: {{ connected }}</div>
    <div>🔴 Not Connected: {{ installed - connected }}</div>
  </div>
</div> -->
<div class="container">
  <h2 class="title">Device Allowed</h2>

  <div class="circle-chart" [style.--percent]="clampPercent1">
    <div class="center-label">{{ percentage1 }}%</div>
  </div>

  <div class="device-info-labels">
    <div>🟢 INSTALLED: {{ reserved }}</div>
    <div>🔴 Not INSTALLED: {{ installed - reserved }}</div>
  </div>
</div>

<div class="container">
  <h2 class="title">Device Connectivity</h2>

  <div class="circle-chart" [style.--percent]="clampPercent2">
    <div class="center-label">{{ percentage2 }}%</div>
  </div>

  <div class="device-info-labels">
    <div>🟢 Connected: {{ connected }}</div>
    <div>🔴 Not Connected: {{ installed - connected }}</div>
  </div>
</div>